@page
@model Proiect_Bota_Rodica.Pages.Produse.IndexModel

@{
    ViewData["Title"] = "Listă Produse";
}

<h1>Listă Produse</h1>

<p>
    <a asp-page="Create">Ce produs ți se potrivește astăzi?</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].DataCreare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Descriere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCreare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                    <a asp-page="./Edit" class="btn btn btn-success" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" class="btn btn btn-success" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" class="btn btn btn-success" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
